pyrogram==1.4.16
TgCrypto
py-tgcalls==0.8.6
python-dotenv
requests
aiohttp
aiofiles
asyncio
search_engine_parser
ffmpeg-python
ffmpeg
Pillow
ujson
psutil
telegram
python-telegram-bot==13.11
youtube_search
youtube-search-python
yt-dl

